@import "variables";
@import "mixins";

html,
body {
  font-family: "Lato";
  margin: 0;
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.main-navbar {
  @include flexContainerRow;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  height: $mainNavHeightDesktop;
  margin: 0;
  padding: 0 $paddingContainerSides;
  background-color: #fff;
  .logo {
    color: $mainBlackColor;
    font-size: 36px;
    text-transform: uppercase;
    font-family: $headerFont;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    .last-word {
      color: $mainYellowColor;
    }
    h1 {
      margin: 0;
    }
  }
  .links,
  .authControls {
    box-sizing: border-box;
    padding-right: 50px;
    font-family: $mainFont;
    a {
      font-size: 18px;
      color: $mainBlackColor;
      text-decoration: none;
      padding: 10px;
    }
  }
  .authControls {
    margin-left: auto;
    padding-right: 20px;
  }
}

.main-footer {
  @include flexContainerRow();
  background-color: $mainYellowColor;
  color: $mainBlackColor;
  padding: 50px 0;
  box-sizing: border-box;
  .logo {
    font-family: $headerFont;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    @include flexContainerColumn();
    h1 {
      margin: 0;
      &:nth-child(2) {
        color: $mainWhiteColor;
        margin-left: 150px;
        margin-top: -5px;
      }
    }
  }
  .social-links, .contact {
    @include flexContainerColumn();
    height: 24px;
    .row {
      @include flexContainerRow();
      justify-content: flex-start;
      height: 100%;
      margin-bottom: 10px;
      svg {
        height: 100%;
        margin-right: 10px;
      }
      a, p {
        color: $mainBlackColor;
        font-family: $mainFont;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

.highlightedHeaderContainer {
  width: auto;
  align-self: flex-start;
  .highlightedHeader {
    @include flexContainerColumn();
    padding-right: 80px;
    box-sizing: border-box;
    h1 {
      font-family: $headerFont;
      font-style: normal;
      font-weight: 400;
      font-size: 78px;
      line-height: 120px;
      text-transform: uppercase;
      color: $mainYellowColor;
      margin: 0;
      align-self: flex-end;
      &:nth-child(1) {
        margin-right: 5px;
        margin-bottom: -115px;
      }
      &:nth-child(2) {
        color: $mainBlackColor;
      }
    }
  }
}
