@import "variables";
@import "mixins";

.container {
  height: calc(100vh - #{$mainNavHeightDesktop});
  width: 100vw;
  max-width: 100%; 
  box-sizing: border-box;
  padding: 0 $paddingContainerSides;
  // max-width: 1400px;
  position: relative;
  .row {
    @include flexContainerRow();
  }
  .heroText {
    @include flexContainerColumn();
    align-items: flex-start;
    width: 35vw;
    margin-top: 8vh;
    background-image: url("../public/code.svg");
    background-size: contain;
    background-repeat: no-repeat;
    h2 {
      font-family: $mainFont;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 45px;
      margin-bottom: 0;
    }
    .name {
      @include flexContainerColumn();
      padding-right: 5.4vw;
      box-sizing: border-box;
      h1 {
        font-family: $headerFont;
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 120px;
        text-transform: uppercase;
        color: $mainBlackColor;
        margin: 0;
        align-self: flex-end;
        &:nth-child(1) {
          margin-right: 80px;
          margin-bottom: -80px;
          margin-top: -16px;
        }
        &:nth-child(2) {
          color: $mainYellowColor;
        }
      }
    }
    p {
      color: $mainBlackColor;
      font-family: $mainFont;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 45px;
    }
    button {
      height: 70px;
      width: 64%;
      margin-top: 2vh;
      background-color: $mainYellowColor;
      color: $mainBlackColor;
      font-family: $headerFont;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 45px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      transition: background-color ease-in-out 0.3s;
      &:hover {
        background-color: $darkYellowColor;
      }
    }
  }
  .heroImage {
    @include flexContainerColumn();
    justify-content: flex-end;
    width: 40vw;
    margin-top: 14vh;
    .heroBackground {
      width: 53vw;
      height: 81vh;
      top: 0vh;
      right: 5vw;
      position: absolute;
      background-image: url("../public/shapes.svg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      z-index: -1;
    }
    img {
      width: 60%;
      height: 60%;
      margin-left: 3vw;
    }
  }
  .scrollButton {
    @include flexContainerRow();
    margin-top: 12vh;
    cursor: pointer;
    img {
      width: 50px;
    }
    h1 {
      font-family: $headerFont;
      color: $mainBlackColor;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 45px;
      margin: 0 50px;
    }
  }
}

.aboutMe {
  @include flexContainerColumn();
  height: calc(100vh - #{$footerHeightDesktop});
  width: 100vw;
  max-width: 100%; 
  box-sizing: border-box;
  padding: 0 $paddingContainerSides;
  position: relative;
  .row {
    @include flexContainerRow();
    margin-top: -8vh;
    p {
      margin-top: 5vh;
      width: 40%;
      font-family: $mainFont;
      font-size: 16px;
    }
    .abouteMeCardContainer {
      position: relative;
      margin-left: 2vw;
      .aboutMeCard {
        width: 12vw;
        height: 12vw;
        padding: 16px;
        box-shadow: $mainShadow;
        position: relative;
        background: #fff;
        h1 {
          font-family: $headerFont;
          margin: 0;
          font-size: 28px;
        }
        p {
          width: 100%;
          font-family: $mainFont;
          margin: 0;
          font-size: 16px;
        }
      }
      .cardHighlight {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $mainYellowColor;
        width: 14vw;
        height: 14vw;
        z-index: -1;
      }
    }

  }
}

.mySkills {
  @include flexContainerRow();
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  .skill {
    cursor: pointer;
    @include flexContainerColumn();
    svg, img {
      width: 80px;
      height: 80px;
      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
    p {
      font-family: $mainFont;
      font-size: 18px;
    }
  }
}