@import "variables";
@import "mixins";

.container {
  height: calc(100vh - $mainNavHeightDesktop);
  width: 100%;
  box-sizing: border-box;
  padding: 0 19% 0 $paddingContainerSides;
  .row {
    @include flexContainerRow();
  }
  .heroText {
    @include flexContainerColumn();
    align-items: flex-start;
    width: 38vw;
    h2 {
      font-family: $mainFont;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 45px;
      margin-bottom: 0;
    }
    p {
      color: $mainBlackColor;
      font-family: $mainFont;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 45px;
    }
    button {
      height: 75px;
      width: 64%;
      background-color: $mainYellowColor;
      color: $mainBlackColor;
      font-family: $headerFont;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 45px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
    }
  }
  .heroImage {
    @include flexContainerColumn();
    justify-content: flex-end;
    width: 40vw;
    .heroBackground {
      width: 53vw;
      height: 80vh;
      top: 10vh;
      position: absolute;
      background-image: url("../public/shapes.svg");
      background-size: contain;
      z-index: 100;
    }
    img {
      width: 70%;
      height: 70%;
    }
  }
  .scrollButton {
    @include flexContainerRow();
    margin-top: 12vh;
    cursor: pointer;
    img {
      width: 50px;
    }
    h1 {
      font-family: $headerFont;
      color: $mainBlackColor;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 45px;
      margin: 0 50px;
    }
  }
}
