@import "variables";
@import "mixins";

.container {
  height: calc(100vh - $mainNavHeightDesktop);
  width: 100%;
  box-sizing: border-box;
  padding: 0 19% 0 13%;
  .heroText {
    @include flexContainerColumn();
    align-items: flex-start;
    width: 38vw;
    h2 {
      font-family: $mainFont;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 45px;
      margin-bottom: 0;
    }
    h1 {
      font-family: $headerFont;
      font-style: normal;
      font-weight: 400;
      font-size: 96px;
      line-height: 120px;
      text-transform: uppercase;
      color: $mainBlackColor;
      margin: 0;
      align-self: flex-end;
      &:nth-child(2) {
        margin-right: 110px;
        margin-bottom: -70px;
      }
      &:nth-child(3) {
        color: $mainYellowColor;
      }
    }
    p {
      color: $mainBlackColor;
      font-family: $mainFont;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 45px;
    }
    button {
      height: 75px;
      width: 64%;
      background-color: $mainYellowColor;
      color: $mainBlackColor;
      font-family: $headerFont;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 45px;
      text-transform: uppercase;
      border: none;
    }
  }
  .heroImage {
  }
}
