@import 'variables';
@import 'mixins';

$albumListBackgroundColor: #262626;
$playerBackground: #323436;
$scrollColor: #d3d3d3;
$durationBarHeight: 10px;

.audioPlayer{
    width: 100%;
    height: calc(100vh - #{$mainNavHeightDesktop} - #{$footerHeightDesktop});
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 85% 15%;
    #albumsList {
        background-color: $albumListBackgroundColor;
        grid-column: 1/4;
        overflow-y: scroll;
        .albumHeader {
            @include flexContainerRow();
            justify-content: space-between;
            padding: 15px 12px;
            box-sizing: border-box;
            font-size: 16px;
            font-family: $mainFont;
            color: $mainWhiteColor;
            h1 {
                margin: 0;
            }
        }
        .albumLabel {
            @include flexContainerRow();
            font-family: $mainFont;
            color: $mainWhiteColor;
            .albumCover {
                width: 20%;
                .coverImage {
                    width: 100%;
                }
            }
            .songDetails {
                @include flexContainerRow();
                padding: 0 5%;
                box-sizing: border-box;
                .songDetailsLeft {
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
                .songDetailsRight {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }
            &:hover {
                background-color: black;
                cursor: pointer;
            }
        }
    }
    #songsList {
        background-color: $playerBackground;
        grid-column: 4/13;
        overflow-y: scroll;
    }
    #songInfo {
        background-color: $playerBackground;
        grid-column: 1/13;
        grid-template-columns: repeat(12, 1fr);
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #888; 
    }
    ::-webkit-scrollbar-thumb {
        background: #171615; 
    }
}

.albumLabel {
    width: 100%;
    padding: 15px 12px;
    font-size: $mainFontSize;
    box-sizing: border-box;
    color: $mainWhiteColor;
    display: flex;
    justify-content: space-between;
}

.songLabel {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    padding: 12px 12px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: $mainFont;
    color: $mainWhiteColor;
    .songId {
        grid-column: 1/2;
        display: flex;
        align-items: center;
    }
    .songName {
        grid-column: 2/6;
        display: flex;
        align-items: center;
    }
    .songAlbum {
        grid-column: 6/10;
        display: flex;
        align-items: center;
    }
    .songDuration {
        grid-column: 10/11;
        display: flex;
        align-items: center;
    }
    .playSong {
        grid-column: 11/12;
        place-items: center;
        @include flexContainerRow();
        div {
            cursor: pointer;
        }
    }
    .addToPlaylist {
        grid-column: 12/13;
        @include flexContainerRow();
        div {
            cursor: pointer;
        }
    }
    &:hover {
        background-color: black;
    }
}

#songInfo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    color: $mainWhiteColor;
    .infoSection {
        grid-column: 1/4;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        .albumCover {
            width: 20%;
            height: auto;
            display: flex;
            align-self: center;
            padding-left: 2%;
            .coverImage {
                width: 100%;
            }
        }
        .albumDetails {
            width: 80%;
            padding: 12px 0;
            @include flexContainerColumn();
            justify-content: space-around;
            font-family: $mainFont;
            font-size: 16px;
        }
    }
    .controlsSection {
        grid-column: 4/10;
        @include flexContainerColumn();
        justify-content: space-around;
        padding: 8px 0;
        .controls {
            @include flexContainerRow();
            justify-content: space-around;
            .shuffleButton, .repeatButton{
                width: 30px;
                height: 30px;
                cursor: pointer;
                color: $mainWhiteColor;
            }
            .controlButton {
                width: 30px;
                height: 30px;
                cursor: pointer;
            }
        }
        .duration {
            @include flexContainerRow();
            justify-content: space-around;
            height: $durationBarHeight;
            font-family: $mainFont;
            font-size: 16px;
            .durationBar {
                display: flex;
                width: 80%;
                height: $durationBarHeight;
                background-color: $scrollColor;
                border-radius: $durationBarHeight / 2;
                cursor: pointer;
                .progress {
                    background-color: black;
                    height: $durationBarHeight;
                    border-radius: $durationBarHeight / 2;
                }
            }
        }
    }
    .volumeSection {
        grid-column: 11/13;
        @include flexContainerRow();
        justify-content: space-around;
        .volumeIcon {
            width: 20%;
            height: 30px;
            svg {
                height: 100%;
            }
        }
        .volumeInputDiv{
            @include flexContainerRow();
            width: 60%;
            height: 28px;
            .volumeInput {
                -webkit-appearance: none;
                width: 100%;
                height: 5px;
                border-radius: 8px;  
                background: $scrollColor;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
            }
            .volumeInput::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 14px;
                height: 14px;
                border-radius: 50%; 
                background: #181818;
                cursor: pointer;
            }
            .volumeInput::-moz-range-thumb {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: #181818;
                cursor: pointer;
            }
        }   
        .volume {
            @include flexContainerRow();
            width: 20%;
            height: 32px;
            font-family: $mainFont;
            font-size: 20px;
        }
    }
}