@import 'variables';

.audioPlayer{
    width: 100%;
    height: calc(100vh - #{$mainNavHeightDesktop} - #{$footerHeightDesktop});
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 85% 15%;
    #albumsList {
        background-color: #262626;
        grid-column: 1/4;
        overflow-y: scroll;
        .albumHeader {
            width: 100%;
            padding: 20px 15px;
            font-size: 18px;
            box-sizing: border-box;
            color: $mainWhiteColor;
            display: flex;
            justify-content: space-between;
            h1 {
                margin: 0;
            }
        }
        .albumLabel {
            display: flex;
            .albumCover {
                width: 20%;
                .coverImage {
                    width: 100%;
                }
            }
            .songDetails {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 0 5%;
                box-sizing: border-box;
                .songDetailsLeft {
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
                .songDetailsRight {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }
            &:hover {
                background-color: black;
                cursor: pointer;
            }
        }
    }
    #songsList {
        background-color: #323436;
        grid-column: 4/13;
        overflow-y: scroll;
    }
    #songInfo {
        background-color: #323436;
        grid-column: 1/13;
        grid-template-columns: repeat(12, 1fr);
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #888; 
    }
    ::-webkit-scrollbar-thumb {
        background: #171615; 
    }
}

.albumLabel {
    width: 100%;
    padding: 20px 15px;
    font-size: 18px;
    box-sizing: border-box;
    color: $mainWhiteColor;
    display: flex;
    justify-content: space-between;
}

.songLabel {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    color: $mainWhiteColor;
    padding: 15px 15px;
    font-size: 18px;
    box-sizing: border-box;
    .songId {
        grid-column: 1/2;
        display: flex;
        align-items: center;
    }
    .songName {
        grid-column: 2/6;
        display: flex;
        align-items: center;
    }
    .songAlbum {
        grid-column: 6/10;
        display: flex;
        align-items: center;
    }
    .songDuration {
        grid-column: 10/11;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .playSong {
        grid-column: 11/12;
        place-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .addToPlaylist {
        grid-column: 12/13;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover {
        background-color: black;
    }
}

#songInfo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    color: $mainWhiteColor;
    .infoSection {
        grid-column: 1/4;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        .albumCover {
            width: 20%;
            height: auto;
            display: flex;
            align-self: center;
            padding-left: 2%;
            .coverImage {
                width: 100%;
            }
        }
        .albumDetails {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }
    .controlsSection {
        grid-column: 4/10;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .controls {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            .shuffleButton, .repeatButton{
                font-size: 25px;
                cursor: pointer;
            }
            .controlButton {
                width: 40px;
                height: 40px;
                cursor: pointer;
            }
        }
        .duration {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 16px;
            width: 100%;
            .durationBar {
                display: flex;
                width: 80%;
                height: 12px;
                background-color: #BDBDBD;
                border-radius: 8px;
                cursor: pointer;
                .progress {
                    background-color: black;
                    height: 12px;
                    border-radius: 8px;
                }
            }
        }
    }
    .volumeSection {
        grid-column: 11/13;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        .volumeIcon {
            width: 40px;
            height: 32px;
            font-size: 26px;
        }
        .volumeInputDiv{
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            .volumeInput {
                -webkit-appearance: none;
                width: 100%;
                height: 6px;
                border-radius: 8px;  
                background: #d3d3d3;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
            }
            .volumeInput::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 16px;
                height: 16px;
                border-radius: 50%; 
                background: #181818;
                cursor: pointer;
            }
            .volumeInput::-moz-range-thumb {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: 181818;
                cursor: pointer;
            }
        }   
        .volume {
            padding-left: 12px;
            font-size: 16px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}