@import 'variables';
@import 'mixins';

.projectList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5vh 10% 0 10%;
    column-gap: 15%;
    row-gap: 5vh;
    .projectCard {
        @include flexContainterColumn;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        height: 30vh;
        background-size: cover;
        position: relative;
        span {
            @include flexContainterColumn;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: rgba(0,0,0,0.6);
            transition: all 0.5s;
            .projectName {
                display: none;
                font-size: 28px;
                width: 70%;
                color: $mainWhiteColor;
            }
            .projectDescription {
                display: none;
                margin-top: 10px;
                width: 70%;
                color: $mainWhiteColor;
                text-align: center;
            }
            .controls {
                display: none;
                margin-top: 10px;
                button {
                    color: $mainWhiteColor;
                    background: none;
                    border: 2px solid $mainWhiteColor;
                    border-radius: 20px;
                    font-size: 16px;
                    cursor: pointer;
                    padding: 5px 12px;
                    margin-right: 5px;
                }
            }
        }
        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            span {
                opacity: 1;
                .projectName {
                    display: flex;
                    justify-content: center;
                }
                .projectDescription {
                    display: flex;
                    justify-content: center;
                }
                .controls {
                    display: flex;
                }
            }
        }
    }
}