@import "variables";
@import "mixins";

$imageWidth: 36vw;

.projectContainer {
  @include flexContainerColumn();
  box-sizing: border-box;
  padding: 0 $paddingContainerSides;
  .header {
    align-self: flex-start;
    h1 {
      color: $mainBlackColor;
      font-family: $headerFont;
      font-style: normal;
      font-weight: 400;
      font-size: 96px;
      line-height: 120px;
      margin: 0;
      &:nth-child(1) {
        color: $mainYellowColor;
        margin-bottom: -115px;
        margin-left: -5px;
      }
    }
  }
  .projectList {
    width: 100%;
    margin-top: 5vh;
    .projectCard {
      @include flexContainerRow();
      margin-bottom: 14vh;
      gap: 5vw;
      .projectInfo {
        width: 33vw;
        .projectName {
          font-family: $headerFont;
          font-style: normal;
          font-weight: 400;
          font-size: 36px;
          line-height: 45px;
          width: fit-content;
          padding: 0 15px;
          background-image: linear-gradient(
            #fff 30%,
            $mainYellowColor 30% 65%,
            #fff 65%
          );
          color: $mainBlackColor;
          margin: 0;
        }
        .projectTechnologies {
          font-family: $headerFont;
          font-style: normal;
          font-weight: 400;
          font-size: 36px;
          line-height: 45px;
          color: $mainBlackColor;
          margin: 0;
          margin-top: 30px;
        }
        .projectDescription {
          font-family: $mainFont;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 30px;
          color: $mainBlackColor;
        }
      }
      .projectImage {
        width: $imageWidth;
        height: $imageWidth * 9/16;
        position: relative;
        cursor: pointer;
        .projectHighlight {
          position: absolute;
          width: 100%;
          height: 100%;
          transform: rotate(-5deg);
          background-color: $mainYellowColor;
          z-index: -1;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        .projectImage {
          .projectHighlight {
            transform: rotate(5deg);
          }
        }
      }
    }
  }
}
