// background and font color
$mainBlackColor: #000000;
$backgroundColor: #e5e5e5;
$mainWhiteColor: #edf1f8;
$mainYellowColor: #edd70d;
$paddingContainerSides: 13%;
$bigFontSize: 1em;
$mainFontSize: 0.9em;
$smallFontSize: 0.8em;

// sizes of layout's elements
$mainNavHeightDesktop: 80px;
$footerHeightDesktop: 56px;

// custom parts
$durationBarHeight: 12px;

$headerFont: "Staatliches";
$mainFont: "Quicksand";

$mainShadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
