@import "variables";
@import "mixins";

.workoutTimer {
  @include flexContainerRow;
  background-color: $projectBackgroundColor;
  height: calc(100vh - #{$mainNavHeightDesktop});
  .timerCreator {
    @include flexContainerColumn;
    height: 100%;
    color: $mainWhiteColor;
    font-family: $mainFont;
    h1 {
      font-family: $headerFont;
      color: $mainWhiteColor;
      font-size: 36px;
      margin: 0;
      margin-top: 24px;
    }
    label {
      font-size: 20px;
      padding: 6px;
    }
    input[type="text"] {
      width: 60%;
      border-radius: 4px;
      padding: 10px 16px;
      border: 1px solid gray;
      font-family: $mainFont;
      color: $mainBlackColor;
      font-size: 16px;
    }
    input:focus {
      outline: none;
    }
    div {
      @include flexContainerRow;
      input[type="range"] {
        -webkit-appearance: none;
        width: 60%;
        margin-right: 10px;
        height: 5px;
        border-radius: 8px;  
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 14px;
        height: 14px;
        border-radius: 50%; 
        background: #181818;
        cursor: pointer;
      }
      input[type="range"]::-moz-range-thumb {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #181818;
        cursor: pointer;
      }
      input[type="number"] {
        border-radius: 4px;
        padding: 8px 12px;
        border: 1px solid gray;
        margin-right: 20px;
      }
    }
    .addTrainingButton {
      background-color: #607D8B;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
  }
  .workoutsList {
    @include flexContainerColumn;
    align-self: flex-start;
    color: $mainWhiteColor;
    h1 {
      font-family: $headerFont;
      font-size: 36px;
    }
    .workoutsListItem {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(5, 1fr);
      justify-content: center;
      font-family: $mainFont;
      font-size: 20px;
      div {
        @include flexContainerRow();
        padding: 10px 0;
      }
      .workoutPlay, .workoutDelete {
        cursor: pointer;
        height: 40px;
        svg {
          height: 100%;
        }
      }
    }

  }
}

.timer {
  @include flexContainerColumn;
  height: calc(100vh - #{$mainNavHeightDesktop});
  background-color: $projectBackgroundColor;
  color: $mainWhiteColor;
  .timerHeader {
    text-align: center;
    font-family: $headerFont;
    font-size: 48px;
  }
  .timeLeft {
    font-size: 168px;
    font-family: $headerFont;
  }
  .howManyLeft {
    @include flexContainerRow;
    margin-top: 5vh;
    font-family: $mainFont;
    div {
      @include flexContainerColumn;
    }
  }
  .info {
    margin-top: 2%;
    font-weight: bold;
    font-size: 36px;
    font-family: $headerFont;
  }
  .controls {
    @include flexContainerRow;
    margin-top: 2%;
    width: 20%;
    justify-content: space-around;
    svg {
      cursor: pointer;
    }
  }
}
